
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>北大软微活动签到系统管理</title>
    <meta name="description" content="北大软微活动签到系统管理">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/assets/css/normalize.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/themify-icons.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/style.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/sweetalert.css">
</head>