{extend name="common@public/base" /}
{block name="main-content"}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">
                            <input type="button" style="height:36px;" class="btn btn-success btn-sm" onclick="window.location.href='{:url(\'Allattend/export\')}'" value="导出Excel">
                            <button id="batchShow" type="submit" class="btn btn-success btn-sm" style="height:36px;" >Excel导入格式: 活动ID, 学号, 姓名, 签到时间</button>
                            <form id="batchAdd" action="batchAddByExcel" enctype="multipart/form-data" method="post" style="display: none">
                                <input type="file" class="btn btn-success btn-sm" name="file"/>
                                <input class="btn btn-success btn-sm" type="submit" style="height:36px;" value="上传"/>
                            </form>
                            <br>
                        </h4>
                    </div>

                    <div class="card-body--">
                        <div class="table-stats">
                            <table id="bootstrap-data-table" class="table">
                                <thead>
                                <tr>
                                    <th class="serial">序号</th>
                                    <th>活动ID</th>
                                    <th>名称</th>
                                    <th>参加者</th>
                                    <th>参加者学号</th>
                                    <th>签到时间</th>
                                    <th>年级</th>
                                    <th>组织单位</th>
                                    <th>操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                {volist name='info' id='list'}
                                <tr data-id={$list.a_id}>
                                    <td class="serial" >{$i}.</td>
                                    <td><span class="product">{$list.a2s_act_id}</span></td>
                                    <td><span class="product">{$list.a_name}</span></td>
                                    <td><span class="product">{$list.a2s_stu_name}</span></td>
                                    <td data-id="{$list.a2s_stu_num}"><span class="product">{$list.a2s_stu_num}</span></td>
                                    <td><span class="product">{$list.a2s_sign_time}</span></td>
                                    <td data-id="{$list.a_grade}"><span class="product">{$list.a_grade}</span></td>
                                    <td data-id={$list.a_class}><span class="product">{$list.a_class}</span></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm mb-1" data-toggle="modal"
                                                data-target="#editAttend">
                                            <i class="fa fa-magic"></i>编辑
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1" data-toggle="modal"
                                                data-target="#delOneAttend">
                                            <i class="fa fa-exclamation"></i>&nbsp;删除
                                        </button>
                                    </td>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--编辑出席信息-->
            <form action="editAttend" method="post">
                <div class="modal fade" id="editAttend" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editmodalLabel">编辑出席情况</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="edit_a2s_id" name="a2s_id">
                                <p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_a2s_act_id" name="a2s_act_id" placeholder="活动ID" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_a_name" name="a_name" placeholder="活动名称" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_a2s_stu_name" name="a2s_stu_name" placeholder="参加者" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_a2s_stu_num" name="a2s_stu_num" placeholder="参加者学号" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_a2s_sign_time" name="a2s_sign_time" placeholder="签到时间" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-group"></i>
                                        </div>
                                        <select id="edit_a_grade" name="a_grade" placeholder="举办年级" class="form-control" disabled="disabled">
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_a_class" name="a_class" placeholder="组织单位" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-success">确认</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--删除出席信息-->
            <form action="delOneAttend" method="post">
                <div class="modal fade" id="delOneAttend" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delmodalLabel">删除出席记录</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="del_a2s_id" name="a2s_id">
                                <p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_a2s_act_id" name="a2s_act_id" placeholder="活动ID" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_a_name" name="a_name" placeholder="活动名称" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_a2s_stu_name" name="a2s_stu_name" placeholder="参加者" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_a2s_stu_num" name="a2s_stu_num" placeholder="参加者学号" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_a2s_sign_time" name="a2s_sign_time" placeholder="签到时间" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-group"></i>
                                        </div>
                                        <select id="del_a_grade" name="a_grade" placeholder="举办年级" class="form-control" disabled="disabled">
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_a_class" name="a_class" placeholder="组织单位" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-success">确认</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{/block}

{block name="scripts"}
<!--编辑活动信息-->
<script type="text/javascript">
    $('#editAttend').on('show.bs.modal',function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        //var modalId = btnThis.data('id');   //解析出data-id的内容
        var a2s_id = btnThis.closest('tr').data('id');
        var a2s_act_id = btnThis.closest('tr').find('td').eq(1).text();
        var name = btnThis.closest('tr').find('td').eq(2).text();
        var a2s_stu_name = btnThis.closest('tr').find('td').eq(3).text();
        var a2s_stu_num = btnThis.closest('tr').find('td').eq(4).data('id');
        var a2s_sign_time = btnThis.closest('tr').find('td').eq(5).text();
        var a_grade = btnThis.closest('tr').find('td').eq(6).data('id');
        var a_class = btnThis.closest('tr').find('td').eq(7).data('id');
        modal.find('#edit_a2s_act_id').val(a2s_act_id);
        modal.find('#edit_a_name').val(name);
        modal.find('#edit_a2s_stu_name').val(a2s_stu_name);
        modal.find('#edit_a2s_stu_num').val(a2s_stu_num);
        modal.find('#edit_a2s_sign_time').val(a2s_sign_time);
        modal.find('#edit_a_grade').val(a_grade);
        modal.find('#edit_a_class').val(a_class);
        modal.find('#edit_a2s_id').val(a2s_id);

    });
</script>

<!--删除活动-->
<script type="text/javascript">
    $('#delOneAttend').on('show.bs.modal',function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        //var modalId = btnThis.data('id');   //解析出data-id的内容
        var a2s_id = btnThis.closest('tr').data('id');
        var a2s_act_id = btnThis.closest('tr').find('td').eq(1).text();
        var name = btnThis.closest('tr').find('td').eq(2).text();
        var a2s_stu_name = btnThis.closest('tr').find('td').eq(3).text();
        var a2s_stu_num = btnThis.closest('tr').find('td').eq(4).data('id');
        var a2s_sign_time = btnThis.closest('tr').find('td').eq(5).text();
        var a_grade = btnThis.closest('tr').find('td').eq(6).data('id');
        var a_class = btnThis.closest('tr').find('td').eq(7).data('id');
        modal.find('#del_a2s_act_id').val(a2s_act_id);
        modal.find('#del_a_name').val(name);
        modal.find('#del_a2s_stu_name').val(a2s_stu_name);
        modal.find('#del_a2s_stu_num').val(a2s_stu_num);
        modal.find('#del_a2s_sign_time').val(a2s_sign_time);
        modal.find('#del_a_grade').val(a_grade);
        modal.find('#del_a_class').val(a_class);
        modal.find('#del_a2s_id').val(a2s_id);

    });
</script>

<script>
    $('#batchShow').click(function () {
        let form = document.getElementById('batchAdd');
        if (form.style.display === 'none') {
            $('#batchShow').text('取消');
            form.style.display = 'inline';
        } else {
            $('#batchShow').text('Excel导入格式: 活动ID, 学号, 姓名, 签到时间');
            form.style.display = 'none';
        }
    });
</script>
{/block}