{extend name="common@public/base" /}
{block name="main-content"}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">
                            <button type="submit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addClass">添加班级</button>
                        </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats">
                            <table id="bootstrap-data-table" class="table">
                                <thead>
                                <tr>
                                    <th class="serial">序号</th>
                                    <th>班级名称</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='info' id='list'}
                                <tr data-id={$list.c_id}>
                                    <td class="serial" >{$i}.</td>
                                    <td>  <span class="product">{$list.c_name}</span> </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm mb-1" data-toggle="modal" data-target="#editClass">
                                            <i class="fa fa-magic"></i>&nbsp;编辑
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1" data-toggle="modal" data-target="#delClass">
                                            <i class="fa fa-exclamation"></i>&nbsp;删除
                                        </button>
                                    </td>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--添加班级信息-->
            <form action="addClass" method="post">
                <div class="modal fade" id="addClass" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addmodalLabel">添加班级</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="add_c_name" name="c_name" placeholder="班级名称" class="form-control">
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-success">确认</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--编辑班级信息-->
            <form action="editClass" method="post">
                <div class="modal fade" id="editClass" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editmodalLabel">编辑班级信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="edit_c_id" name="c_id">
                                <p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="edit_c_name" name="c_name" placeholder="班级" class="form-control">
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-success">确认</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--删除班级信息-->
            <form action="delClass" method="post">
                <div class="modal fade" id="delClass" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delmodalLabel">删除班级信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="del_c_id" name="c_id">
                                <p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input type="text" id="del_c_name" name="c_name" placeholder="班级名称" class="form-control" readonly="true">
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-success">确认</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{/block}

{block name="scripts"}
<!--编辑班级信息-->
<script type="text/javascript">
    $('#editClass').on('show.bs.modal',function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        //var modalId = btnThis.data('id');   //解析出data-id的内容
        var c_id = btnThis.closest('tr').data('id');
        var c_name = btnThis.closest('tr').find('td').eq(1).text();
        modal.find('#edit_c_name').val(c_name);
        modal.find('#edit_c_id').val(c_id);

    });
</script>

<!--删除标签-->
<script type="text/javascript">
    $('#delClass').on('show.bs.modal',function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        //var modalId = btnThis.data('id');   //解析出data-id的内容
        var c_id = btnThis.closest('tr').data('id');
        var c_name = btnThis.closest('tr').find('td').eq(1).text();
        modal.find('#del_c_name').val(c_name);
        modal.find('#del_c_id').val(c_id);

    });
</script>
{/block}
