<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

{include file='common@public:header' /}

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="__STATIC__/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <div class="alert alert-info" role="alert">
                        <h5>请用以下帐号/密码登入 Superadmin</h5>
                        <p>username: root<br>password: root1234</p>
                    </div>


                    <form action="" method="POST">
                        <div class="form-group">
                            <label>用戶名</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 记住我
                            </label>
                            <label class="pull-right">
                                <a href="#">忘记密码?</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">登入</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="__STATIC__/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/assets/js/popper.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
    <script src="__STATIC__/assets/js/jquery.matchHeight.min.js"></script>
    <script src="__STATIC__/assets/js/main.js"></script>

</body>

</html>